body {
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Eczar', serif; */

    margin: 0px 0px 0px 0px;

    /* width: 100vw;
    height: 100vw; */
    /* background-color: #e3e3e3; */
    background-color: #F6F6F6;
    color: #233142;
    /* background-image: linear-gradient(#e3e3e3, #F3F3F3); */
    /* height: 100vw */
}




#navBar {
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FD5252;
    color: #F6F6F6;
    /* width: 100%; */
    height: 100px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

#navBar:hover {
    background-color: #FC4B4B;
}

#navBar>h1 {

    font-size: 40px;
    color: white;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    background-color: #FF1F1F;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    /* filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%)); */


}

#navBar>ul {
    font-size: 20px;
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 30px;

}

#splash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    /* width: 60%; */
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash>h1 {
    font-size: 120px;
    color: #233142;
    margin: -30px 0px 0px 0px;
    /* font-style: italic; */
    letter-spacing: 5px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 5%));
}



#splash>h2 {
    font-size: 60px;

    color: #455d7a;
    letter-spacing: 1px;


    margin: 0px 0px 0px 0px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

#splash>button {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 3px;
    background-color: #233142;
    font-size: 30px;
    font-weight: 400;
    color: white;
    /* padding: 5px, 20px, 5px, 20px; */
    border: none;
    width: 200px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

#splash>button:hover {
    background-color: #f95959;
    cursor: pointer;
}

#splash>span {
    margin-top: 90px;
}