body {
    font-family: 'DM Sans', sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: #F6F6F6;
    color: #233142;
    user-select: none;
    /* background: repeating-linear-gradient(135deg,
            #233142,
            #233142 9px,
            #273648 9px,
            #273648 18px); */

}

.fullScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.leftSide,
.signup {
    padding: 30px
}

#container {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.twoSides {
    display: grid;
    grid-template-columns: [left] 50% [center] 50% [right];

}

.leftSide {
    grid-column-start: left;
    grid-column-end: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.signup {
    grid-column-start: center;
    grid-column-end: right;

}

#navBar {
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FD5252;
    color: #F6F6F6;
    height: 100px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FD5252,
            #FD5252 9px,
            #fa5d57 9px,
            #fa5d57 18px); */
}

#navBar:hover {
    background-color: #FC4B4B;
}

#navBar>#logo:hover {
    cursor: pointer;
    background-color: #233142;
}

#navBar>h1 {
    font-size: 40px;
    color: white;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    background-color: #FF1F1F;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}

#navBar>ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navLink {
    color: white;
    text-decoration: none;
    letter-spacing: 1.5px;
}

#footer {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD5252;
    color: #F6F6F6;

}

#splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10%;
    padding-right: 10%;
    /* background-image: url('https://commonsensecountrygirl.files.wordpress.com/2012/06/mydirtyfridge.jpg');
    background-size: cover; */

}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 30px;
    letter-spacing: 1.5px;
}

.entryField {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.entryField>input {
    width: 200px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 200px; */


}

.errorDisplay {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: 500;
    letter-spacing: 1px;
}

.buttonSection {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

}



.submitButton {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 2px;
    background-color: #233142;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: none;
    width: 150px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

.submitButton:hover {
    background-color: #f95959;
    cursor: pointer;
}

#splash>h1 {
    font-size: 120px;
    color: #233142;
    margin: -30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    letter-spacing: 5px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 5%));
}

#splash>h2 {
    font-size: 60px;
    color: #455d7a;
    letter-spacing: 1px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

#splash>button {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 3px;
    background-color: #233142;
    font-size: 30px;
    font-weight: 400;
    color: white;
    border: none;
    width: 200px;
    height: 100px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

#splash>button:hover {
    background-color: #f95959;
    cursor: pointer;
}

/* MAIN FEED */

.background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background: repeating-linear-gradient(135deg,
            #233142,
            #233142 9px,
            #273648 9px,
            #273648 18px);

    /* background-color: pink; */

}

#mainFeed {
    width: 90%;
    /* width: 93%; */
    /* margin: 30px 40px 30px 40px; */
    /* eee */
    /* background-color: #233142; */
    /* border: 10px solid;
    border-color: #233142; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));




}

#scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    align-items: center;
    /* background-color: pink; */
    height: 220px;
    margin: 10px;
    gap: 20px
}

.pounds {
    font-size: 50px;
    color: #273648;

    background-color: #E2FF37;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;

    /* display: flex;
    justify-content: space-between; */
    /* background-color: #FF1F1F; */

    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    /* width: 50%; */
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FF1F1F,
            #FF1F1F 9px,
            #ff3535 9px,
            #ff3535 18px); */


}

#spaghetti {
    /* color: white; */
    font-size: 130px;
    /* padding: 0px 20px -100px 10px; */
    padding-left: 14px;
    padding-right: 18px;
    /* background-color: lime; */
    background-color: #232E3B;
    color: #F6F6F6;
    /* color: black; */
    line-height: 85%;
    font-weight: 600;
    /* border: orange solid 1px; */
    letter-spacing: -2px;

    /* text-shadow: 8px #273648; */
    /* magin: 0px; */
}


.feedGrid {
    width: 100%;

    display: grid;
    grid-template-columns: [start] 33.33% [left] 33.34% [right] 33.33% [end];
    /* gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-star;
    align-items: center; */
    grid-row-gap: 50px;



}

/* meal cards */

.mealContainer {
    background-color: #F6F6F6;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-radius: 20px;
    /* padding: 20px; */
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 100%));
    /* width: 100%; */

}

.mealContainer:hover {
    cursor: pointer;
    background-color: #FFF9DA;
    /* margin: 10px;
    padding: 10px; */

    /* margin: -5px; */

    /* margin: 10px;
    padding: 25px;
    border-radius: 20px; */

    /* padding: 15px; */

}

.bottomSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.detailsSplit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: auto;
    padding-bottom: 20px;
    /* padding: 250px; */
}

.detailsRight {
    display: flex;
    justify-content: column;
    /* flex-direction: flex-start; */

    /* align-items: flex-end; */

}

.detailsRight>h2 {
    margin: 0px;
    padding-top: 19px;
    /* padding: 0px; */
    /* line-height: 4px; */
    font-size: 20px;
    width: 50px;
}

.mealDetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-content: flex-start
}

.mealImage {

    background-color: black;
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px rgb(35, 49, 66, 10%));

}

.mealTitle {
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    color: red;
    font-size: 30px;
    margin: 10px 0px 0px 0px;
}

.mealChef {
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    color: #233142;
    letter-spacing: .5px;
}

.chefRating {

    /* font-style: italic; */

    font-weight: 300;
    padding-left: 5px;
    letter-spacing: 1px;
    /* color: #233142 */
}

.mealDescription {
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    /* font-style: italic; */
    font-weight: 300;
    color: #484F57;
}

.mealBox {
    margin: -20px 0px 0px 0px;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 50px;
    filter: drop-shadow(10px 10px 10px rgb(35, 49, 66, 10%));


}

.mealPrice {

    font-size: 25px;
    font-weight: 500;
    color: white;
    font-style: italic;
    letter-spacing: -1px;
}

.miniMealBox {
    margin: -20px 0px 0px 0px;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    width: 100%;
    height: 50px;
    filter: drop-shadow(10px 10px 10px rgb(35, 49, 66, 10%));
    border-radius: 0px 0px 20px 20px;


}

.miniMealTitle {

    font-size: 25px;
    font-weight: 500;
    color: #273648;
    font-style: italic;
    letter-spacing: -1px;
    /* border-radius: 20px; */
}

/* 404 error */

.error404 {

    display: flex;
    padding-left: 200px;
    /* padding: 200px; */
    flex-direction: column;
    align-items: flex-start;
}

.error404>h1 {
    font-family: fantasy;
    font-size: 100px;
    font-weight: 800;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: red;
    font-style: italic;

}

.error404>h2 {
    font-size: 50px;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.error404>button {
    font-size: 70px;
    color: white;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    background-color: #233142;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: none;
    margin-top: 40px;

}

/* chef table */

#chefTableContainer {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: repeating-linear-gradient(135deg,
            #233142,
            #233142 9px,
            #273648 9px,
            #273648 18px);

}

#chefTableContainer>h1 {
    font-size: 65px;
    width: auto;
    color: #273648;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    /* background-color: #FF1F1F; */
    background-color: #E2FF37;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;

    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FF1F1F,
            #FF1F1F 9px,
            #ff3535 9px,
            #ff3535 18px); */
}

#newChefCreation {
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    /* font-style: italic;
    color: white; */

}

#mealSubmission {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px; */

}

#outerMeal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ff6363;
    background-color: #F6F6F6;
    border-radius: 20px;
    /* border: 5px solid #ff6363; */
    color: #273648;
    width: 100%;
    height: 1000px;

    /* color: white; */

    /* margin-bottom: 40px; */
    /* padding: 40px; */
    /* height: auto; */

}

.subtitle {
    letter-spacing: 1.5px;
    margin: 0px;
    margin-bottom: 3px;
    /* font-style: italic; */
    /* color: white; */
}


#splitScreenChef {
    display: grid;
    grid-template-columns: [left] 40% [center] 60% [right];
    column-gap: 40px;
    width: 80%;
    margin-bottom: 40px;

}

#imageSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
    /* display: grid;
    grid-template-columns: [left] 50% [center] 50% [right] */
}

#imageSection>img {
    width: 100%;
    border-radius: 20px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));

}

#imageSubmit {
    margin-bottom: 30px;
}

.spacer {
    margin-bottom: 30px;
}



.formSection {
    /* width: 50%; */
    /* background-color: #F6F6F6;
    /* padding: 40px; */
    /* border-radius: 20px; */
    /* gap: 20px; */
    /* display: flex;
    flex-direction: column; */

}

.ingredientsWrapper {
    display: grid;
    grid-template-columns: [left] 50% [center] 50% [right];
    margin-bottom: 20px;
}

.ingredientsList {
    display: flex;
    flex-direction: column;
}

#formSubmit {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 2px;
    background-color: #233142;
    font-size: 20px;
    /* font-weight: 600;
    font-style: italic; */
    color: white;
    border: none;
    width: 150px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}


.chefField {
    display: flex;
    flex-direction: column;

    /* width: 350px; */
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px;

}

.chefField>input {
    width: 90%;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /* border-radius: 10px;
    border: none; */

    /* margin-bottom: 15px; */
    /* margin-top: -15px; */
}

#description {

    /* width: 100%; */
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    font-size: 20px;
    resize: none;
}

.chefFeed {
    width: 90%;
    /* padding: 20px; */
    display: grid;
    grid-template-columns: [start] 25%[left] 25% [center] 25% [right] 25% [end];
    /* gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-star;
    align-items: center; */
    grid-row-gap: 50px;
}

#menuSubtitle {
    font-size: 45px;
    width: auto;
    color: #273648;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    /* background-color: #FF1F1F; */
    background-color: #E2FF37;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;

    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FF1F1F,
            #FF1F1F 9px,
            #ff3535 9px,
            #ff3535 18px); */

}

/* PREVIEW PAGE */

.previewContainer {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: repeating-linear-gradient(135deg,
            #233142,
            #233142 9px,
            #273648 9px,
            #273648 18px);
}

.previewGrid {
    display: grid;
    grid-template-columns: [left] 55% [center] 45% [right];
    background-color: #F6F6F6;
    color: #273648;
    border-radius: 20px;
    height: 100%;
    margin-bottom: 50px;
    padding: 15px;
}

#previewTitle {
    font-size: 85px;
    /* min-width: 60%; */
    /* align-self: center; */
    color: #273648;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    /* background-color: #FF1F1F; */
    background-color: #E2FF37;
    padding: 10px 90px 10px 90px;
    border-radius: 5px;

    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FF1F1F,
            #FF1F1F 9px,
            #ff3535 9px,
            #ff3535 18px); */
}

#previewChef {
    font-size: 35px;
    /* width: 100%; */
    color: #273648;
    color: white;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -2px;
    /* background-color: #FF1F1F; */
    background-color: #FF33FF;
    background-color: red;
    padding: 10px 30px 10px 30px;
    margin-top: -70px;
    border-radius: 5px;
    align-self: right;

    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FF1F1F,
            #FF1F1F 9px,
            #ff3535 9px,
            #ff3535 18px); */
}

#previewUsername {
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 10px;
    text-decoration: underline;

}

#previewUsername:hover {
    cursor: pointer;

}

#previewLeft {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#previewImage {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    /* border: 5px solid #273648; */
}

#previewRight {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: pink; */
}




#previewRight>h3 {
    font-size: 23px;
    /* letter-spacing: 1px; */
    font-weight: 800;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;

}


#previewRight>p {
    margin: 0px;
    font-size: 18px;
    padding-bottom: 20px;
    /* padding-left: 20px; */
}

#previewFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */

}

#previewFooter>button {


    font-family: 'DM Sans',
        sans-serif;
    letter-spacing: 2px;
    background-color: #233142;
    font-size: 28px;
    font-weight: 400;
    color: white;
    border: none;
    width: 175px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    margin: 0px;
    border-radius: 10px;
}

#previewFooter>button:hover {
    background-color: #8390A0;
    cursor: pointer;
}



#previewPriceBox {
    background-color: #FD5252;
    color: white;
    width: 175px;
    height: 60px;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border-radius: 10px;


}

.previewQuantityBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#previewArrowDown {
    background-color: #455d7a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 25px;
    color: white;
    font-size: 14px;
    font-weight: 500;

}



#previewArrowUp {
    background-color: #FD5252;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 25px;
    color: white;
    font-size: 14px;
    font-weight: 500;

}

#previewArrowDown:hover {
    user-select: none;
    cursor: pointer;
    background-color: #8390A0;
}

#previewArrowUp:hover {
    user-select: none;
    cursor: pointer;
    background-color: #F89A9A;
}

#previewQuantity {

    background-color: #233142;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 50px;
    color: white;
    font-size: 24px;
    font-weight: 500;

}

#previewError {
    color: red;
}

#alert {
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #273648;
    background-color: #E2FF37;
    height: 40px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FD5252,
            #FD5252 9px,
            #fa5d57 9px,
            #fa5d57 18px); */
}

/* orders page */

#ordersBackground {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: repeating-linear-gradient(135deg,
            #233142,
            #233142 9px,
            #273648 9px,
            #273648 18px);
}



#ordersContainer {
    padding-top: 20px;
    gap: 5px;
    padding-bottom: 100px;
    width: 100%;
    /* padding-left: 100px; */
    height: 100%;
    /* padding-right: 100px; */
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#ordersH1 {
    font-size: 65px;
    width: auto;
    color: #273648;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    /* background-color: #FF1F1F; */
    background-color: #E2FF37;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;

    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FF1F1F,
            #FF1F1F 9px,
            #ff3535 9px,
            #ff3535 18px); */

}


.orderHidden {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: [first] 37% [left] 43% [middle] 18% [right] 2% [last];
    align-items: center;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 500;

    width: 70%;
    height: 50px;
    /* border: solid black; */
    color: #273648;
    background-color: #F6F6F6;
    /* border: 2px solid #273648; */
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    border-radius: 5px
}

.orderVisibleContainer {



    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 500;


    width: 70%;
    height: 150px;
    /* border: solid black; */
    color: #273648;
    background-color: #F6F6F6;
    /* background-color: pink; */
    /* border: 2px solid #273648; */
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    border-radius: 5px
}

.orderHeader {
    display: grid;
    grid-template-columns: [first] 37% [left] 43% [middle] 18% [right] 2% [last];
    align-items: center;
    align-items: center;
    width: 100%;
    padding-top: 7px;
    /* border-bottom: 2px solid black; */

    font-size: 20px;
    font-weight: 500;

    height: 50px;
    /* border: solid black; */
    color: #273648;
    /* border: 2px solid #273648; */
    /* filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%)); */
    /* border-radius: 5px */
}

.orderHeader:hover {
    cursor: pointer;
    background-color: #FFF9DA;
}

.orderHidden:hover {
    cursor: pointer;
    background-color: #FFF9DA;
}


.orderVisibleContainer:hover {
    cursor: pointer;
    background-color: #FFF9DA;
}

#orderMealTitle {
    letter-spacing: 1px;
    font-weight: 600;
}

.OrderExtras {
    display: grid;
    grid-template-columns: [left] 25% [center] 35% [right] 50% [end];
    width: 100%;
    height: 100%;
}


.OrdersLeft {
    padding-top: 10px;
    display: flex;
    flex-direction: column;


    /* justify-content: flex-start; */
    /* align-items: center; */
    /* height: 100%; */

}

.OrdersRight {
    padding-top: 10px;
}

.OrdersRight>p {
    font-size: 15px;
    margin: 0px;
}


.OrdersLeft>h3 {
    font-size: 20px;
    margin: 0px;
}

.OrdersLeft>button {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    width: 200px;
}


.orderAwaitsContainer {

    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 68%;
    padding: 50px;
    margin-top: 20px;
    border-radius: 10px;
    /* height: 200px; */


    /* font-style: italic;
    font-weight: 800;
    letter-spacing: -2px; */
}


.orderAwaitsContainer>h1 {

    /* background-color: pink; */
    margin: 0px;
    font-size: 45px;
    /* margin-bottom: 20px; */
    /* font-style: italic */
}



.orderAwaitsDetails {
    display: flex;
    flex-direction: row;
    width: 68%;
    justify-content: space-between;
    padding: 50px;
}



.OrderAwaitsRight {


    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0px;
    padding: 0px;


    /* justify-content: flex-start; */
    /* align-items: center; */
    /* height: 100%; */


}

.OrderAwaitsRight>h3 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 22px;
}

.OrderAwaitsLeft {


    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0px;
    padding: 0px;


    /* justify-content: flex-start; */
    /* align-items: center; */
    /* height: 100%; */


}

.OrderAwaitsLeft>h3 {
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    margin-bottom: 10px;
}

#receievedButton {
    /* margin-top: 20px; */
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 2px;
    background-color: #233142;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: none;
    width: 250px;
    height: 80px;

    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

#receievedButton:hover {

    background-color: #f95959;
    cursor: pointer;
}

#ratingSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#chefRatingInput {

    margin: 20px;
    width: 700px;
    padding: 20px;
    color: black;


}

.chefRatingContainer {

    background-color: #FD5252;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 68%;
    padding: 50px;
    margin-top: 20px;
    border-radius: 1000px;
    color: white;
    border: 5px white solid;
    /* height: 200px; */


    /* font-style: italic;
    font-weight: 800;
    letter-spacing: -2px; */
}

#ratingDropdown {
    font-size: 18px;

    padding: 10px;
}

#chefReviewText {
    font-size: 20px;
    margin: 0px;
}

.reviewSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#ordersAlertSection {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* padding-top: 0px; */
}

#newOrderContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;




}

#newOrderContainer>h1 {
    font-size: 42px;
    width: auto;
    color: white;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    /* background-color: #FF1F1F; */
    background-color: #FC4B4B;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    margin-top: 0px;

    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

#newOrderDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#newOrderDetails>h3 {
    font-size: 25px;
    margin: 0px;
    /* margin: 10px; */

    padding: 0px;
    letter-spacing: 1px;
}

#newOrderDetails>h4 {
    margin: 0px;
    padding: 0px;
    /* letter-spacing: 1px; */
}

#newOrderTime {
    font-size: 15px;
    margin: 10px;
}

