body {
    font-family: 'DM Sans', sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: #F6F6F6;
    color: #233142;
}

.fullScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.leftSide,
.signup {
    padding: 30px
}

#container {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.twoSides {
    display: grid;
    grid-template-columns: [left] 50% [center] 50% [right];

}

.leftSide {
    grid-column-start: left;
    grid-column-end: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.signup {
    grid-column-start: center;
    grid-column-end: right;

}

#navBar {
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FD5252;
    color: #F6F6F6;
    height: 100px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FD5252,
            #FD5252 9px,
            #fa5d57 9px,
            #fa5d57 18px); */
}

#navBar:hover {
    background-color: #FC4B4B;
}

#navBar>#logo:hover {
    cursor: pointer;
    background-color: #233142;
}

#navBar>h1 {
    font-size: 40px;
    color: white;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    background-color: #FF1F1F;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}

#navBar>ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navLink {
    color: white;
    text-decoration: none;
    letter-spacing: 1.5px;
}

#footer {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD5252;
    color: #F6F6F6;

}

#splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10%;
    padding-right: 10%;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 30px;
    letter-spacing: 1.5px;
}

.entryField {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.entryField>input {
    width: 200px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 200px; */


}

.errorDisplay {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: 500;
    letter-spacing: 1px;
}

.buttonSection {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

}



.submitButton {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 2px;
    background-color: #233142;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: none;
    width: 150px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

.submitButton:hover {
    background-color: #f95959;
    cursor: pointer;
}

#splash>h1 {
    font-size: 120px;
    color: #233142;
    margin: -30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    letter-spacing: 5px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 5%));
}

#splash>h2 {
    font-size: 60px;
    color: #455d7a;
    letter-spacing: 1px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

#splash>button {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 3px;
    background-color: #233142;
    font-size: 30px;
    font-weight: 400;
    color: white;
    border: none;
    width: 200px;
    height: 100px;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
}

#splash>button:hover {
    background-color: #f95959;
    cursor: pointer;
}

/* MAIN FEED */

.background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    /* background-color: pink; */

}

#mainFeed {
    width: 93%;
    margin: 30px 10px 30px 10px;
    padding: 20px 20px 20px 20px;
    background-color: #233142;
    /* border: 10px solid;
    border-color: #233142; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    background: repeating-linear-gradient(135deg,
            #233142,
            #233142 9px,
            #273648 9px,
            #273648 18px);



}

#mainFeed>h1 {
    font-size: 50px;
    color: #273648;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    /* background-color: #FF1F1F; */
    background-color: #E2FF37;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    width: 60%;
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FF1F1F,
            #FF1F1F 9px,
            #ff3535 9px,
            #ff3535 18px); */

}

.feedGrid {
    width: 100%;
    display: grid;
    grid-template-columns: [start] 33.33% [left] 33.34% [right] 33.33% [end];
    /* gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-star;
    align-items: center; */
    grid-row-gap: 50px;



}

/* meal cards */

.mealContainer {
    background-color: #F6F6F6;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-radius: 20px;
    /* padding: 20px; */
    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 100%));
    /* width: 100%; */

}

.mealContainer:hover {
    cursor: pointer;
    /* background-color: green; */
    margin: 10px;
    padding: 10px;

    /* margin: -5px; */

    /* margin: 10px;
    padding: 25px;
    border-radius: 20px; */

    /* padding: 15px; */

}

.bottomSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.detailsSplit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: auto;
    padding-bottom: 20px;
    /* padding: 250px; */
}

.detailsRight {
    display: flex;
    justify-content: column;
    /* flex-direction: flex-start; */

    /* align-items: flex-end; */

}

.detailsRight>h2 {
    margin: 0px;
    padding-top: 19px;
    /* padding: 0px; */
    /* line-height: 4px; */
    font-size: 20px;
    width: 50px;
}

.mealDetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-content: flex-start
}

.mealImage {

    background-color: black;
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px rgb(35, 49, 66, 10%));

}

.mealTitle {
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    color: red;
    font-size: 30px;
    margin: 10px 0px 0px 0px;
}

.mealChef {
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    color: #233142;
    letter-spacing: .5px;
}

.chefRating {

    /* font-style: italic; */

    font-weight: 300;
    padding-left: 5px;
    letter-spacing: 1px;
    /* color: #233142 */
}

.mealDescription {
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    color: #484F57;
}

.mealBox {
    margin: -20px 0px 0px 0px;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 50px;
    filter: drop-shadow(10px 10px 10px rgb(35, 49, 66, 10%));


}

.mealPrice {

    font-size: 25px;
    font-weight: 500;
    color: white;
    font-style: italic;
    letter-spacing: -1px;
}

/* 404 error */

.error404 {

    display: flex;
    padding-left: 200px;
    /* padding: 200px; */
    flex-direction: column;
    align-items: flex-start;
}

.error404>h1 {
    font-family: fantasy;
    font-size: 100px;
    font-weight: 800;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: red;
    font-style: italic;

}

.error404>h2 {
    font-size: 50px;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.error404>button {
    font-size: 70px;
    color: white;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    background-color: #233142;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: none;
    margin-top: 40px;

}

/* chef table */

#chefTableContainer {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: repeating-linear-gradient(135deg,
            #233142,
            #233142 9px,
            #273648 9px,
            #273648 18px);

}

#chefTableContainer>h1 {
    font-size: 65px;
    width: auto;
    color: #273648;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -2px;
    /* background-color: #FF1F1F; */
    background-color: #E2FF37;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;

    filter: drop-shadow(0px 10px 4px rgb(35, 49, 66, 10%));
    /* background: repeating-linear-gradient(135deg,
            #FF1F1F,
            #FF1F1F 9px,
            #ff3535 9px,
            #ff3535 18px); */
}

#mealSubmission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

#outerMeal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 40px;

}

.formSection {
    width: 50%;
    background-color: #F6F6F6;
    /* padding: 40px; */
    border-radius: 20px;
    /* gap: 20px; */
    display: flex;
    flex-direction: column;
}

.ingredientsWrapper {
    display: grid;
    grid-template-columns: [left] 50% [center] 50% [right]
}

.ingredientsList {
    display: flex;
    flex-direction: column;
}


.chefField {
    display: flex;
    flex-direction: column;

    /* width: 350px; */
    justify-content: center;
    align-items: flex-start;

}

.chefField>input {
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -15px;
}

#description {

    width: 100%;
    height: 100px;
    font-size: 20px;
    resize: none;
}